{% extends 'base.html' %}

{% block content %}
<div>
	<div class="row">
		<div class="col-sm-11 col-md-4 mx-auto mt-5 px-3">
			<h1 class="fw-light">Track and Manage Your Inventory</h1>
			<p class="fw-light">Keep track of your inventory and receive quantity alerts for low inventory</p>

			<div>
				{% if user.is_authenticated %}
					{% if user.is_warehouse %}
						{% if not user.is_user %}
							<a href="{% url 'user_login' %}" class="btn btn-primary">Get Started Now!</a>
						{% endif %}
					{% else %}
						<p>Warehouse login required</p>
						<a href="{% url 'warehouse_login' %}" class="btn btn-primary">Warehouse Sign In</a>
					{% endif %}
				{% else %}
					<a href="{% url 'warehouse_login' %}" class="btn btn-primary">Get Started Now!</a>
				{% endif %}
			</div>
			
		</div>
	</div>
</div>
{% endblock content %}